.DS_Store
*.swp
logs/
recording/
scripts/
images/
.ipynb_checkpoints/
__pycache__/
JupylabBook.pdf
JupyLabBook_User_Manual.docx
example/working/
example/logs/
example/scripts/
example/readable_logs/
~$pyLabBook_User_Manual.docx
working/*
